# Node
node_modules/
frontend/node_modules/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment
.env

# Build files
dist/
build/

# Vite
.vite/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# Logs
*.log